<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
</head>

<body>
    <form action="/board/insert/action">
        제목 : <input type="text" name="title"><br>
        내용 : <textarea name="content"></textarea><br>
        주제 :
        <select name="category">
            <block th:each="category : ${categoryList}">
                <option th:value="${category.codeId}" th:text="${category.codeNm}"></option>
            </block>
        </select><br>
        작성자 : [[${userId}]] <input type="hidden" th:value="${userId}" name="userId"><br>
        <button type="submit">작성</button>
    </form>
</body>

</html>